.age-check-overlay {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--subordinate-pane-bg-color-opaque);
}

.age-check {
    width: 30em;
    height: 40em;
    box-shadow: var(--full-shadow);
    background-color: var(--elevated-pane-bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.age-check .logo-container {
    height: 10em;
}

.logo-container img {
    height: 100%;
}

.age-description {
    text-align: center;
}

.age-input {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: baseline;
}

.age-input .single-age-input {
    width: var(--age-input-width);
    height: 37px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-container input:focus + span {
    width: var(--age-input-width);
    animation: border-shrunk-enlarged var(--header-border-bottom-animation-duration);
}

.input-container span {
    height: var(--age-input-border-bottom-enlarged-thicc);
    background-color: var(--header-border-bottom-color);
    width: 0;
    animation: border-enlarged-shrunk var(--header-border-bottom-animation-duration);
}

input {
    background-color: var(--elevated-pane-bg-color);
    border: 0;
    text-align: right;
}

input:focus-visible {
    outline: 0;
}
