.desktop-footer {
    width: 100%;
    background-color: var(--complimentary-pane-bg-color);
    align-items: center;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--secondary-text-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: var(--footer-height);
}

.mobile-footer {
    display: none;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

footer .flex-row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin: 0 0 7px 0;
    font-size: 13px;
}