.footer {
    width: 100%;
    background-color: var(--complimentary-pane-bg-color);
    align-items: center;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--secondary-text-color);
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}

.footer .flex-row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer p {
    margin: 0 0 7px 0;
    font-size: 13px;
}

.footer .power {
    width: 50%;
    padding-top: .5em;
    border-top: solid 1px var(--secondary-text-color);
    text-align: center;
}