.container {
}

.container .partner {
    position: relative;
}

.container .partner img {
    width: 100%;
}

.container .partner .name {
    position: absolute;
    left: 0;
    top: 50%;
    color: white;
    padding: 10em;
}