.header {
    width: 100%;
    background-color: var(--elevated-pane-bg-color);
    position: fixed;
    left: 0;
    z-index: 9999;
    box-shadow: var(--full-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shrunk {
    height: var(--header-shrunk-height);
    top: var(--header-shrunk-top);
    animation: enlarged-shrunk var(--header-animation-duration);
}

.enlarged {
    height: var(--header-enlarged-height);
    top: var(--header-enlarged-top);
    animation: shrunk-enlarged var(--header-animation-duration);
}

.header .header-items .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container.enlarged {
    height: var(--header-logo-enlarged-height);
    animation: logo-shrunk-enlarged var(--header-logo-animation-duration);
}

#logo-container.shrunk {
    height: var(--header-logo-shrunk-height);
    animation: logo-enlarged-shrunk var(--header-logo-animation-duration);
}

.header .header-items .logo-container img {
    height: 100%;
}

.header .header-items .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-items .group a {
    padding: 2em;
}

@keyframes enlarged-shrunk {
    0% {
        height: var(--header-enlarged-height);
        top: var(--header-enlarged-top);
    }

    100% {
        height: var(--header-shrunk-height);
        top: var(--header-shrunk-top);
    }
}

@keyframes shrunk-enlarged {
    0% {
        height: var(--header-shrunk-height);
        top: var(--header-shrunk-top);
    }

    100% {
        height: var(--header-enlarged-height);
        top: var(--header-enlarged-top);
        ;
    }
}

@keyframes logo-enlarged-shrunk {
    0% {
        height: var(--header-logo-enlarged-height);
    }

    100% {
        height: var(--header-logo-shrunk-height);
    }
}

@keyframes logo-shrunk-enlarged {
    0% {
        height: var(--header-logo-shrunk-height);
    }

    100% {
        height: var(--header-logo-enlarged-height);
    }
}