.overlay-container {
    position: relative;
}

#bg1 {
    background-image: url("../assets/ART00058.jpg");
}

#bg2 {
    background-image: url("../assets/botties.png");
}

#bg3 {
    background-image: url("../assets/ART00056.jpg");
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secondary-text-color);
}

.description-container {
    max-width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: rgba(0, 0, 0, .5);
}

.overlay .logo-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.overlay .logo-container p {
    font-size: 16px;
}

h1 {
    font-size: 40px;
    margin: 16px;
}

.overlay p {
    text-align: center;
}