header {
    position: fixed;
    height: var(--header-shrunk-height);
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--bottom-shadow);
}

header .logo-container {
    height: 100%;
    padding: .6em 0;
}

.hamburger {
    position: absolute;
    left: 1em;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger.open span:nth-child(1) {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
}

.hamburger.open span:nth-child(3) {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
}

header .logo-container img {
    height: 100%;
}

.mobile-navigation {
    width: 100vw;
    top: 1em;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
}

.shown-mobile-navigation {
    height: 100vh;
    top: 0;
    animation: show-navigation 0.5s;
}

.hidden-mobile-navigation {
    height: 0;
    top: 1em;
    animation: hide-navigation 0.5s;
}

.hidden-mobile-navigation .hidden {
    visibility: hidden;
}

.mobile-navigation-container {
    visibility: visible;
    left: -40vw;
    height: 40vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-navigation-container--hidden {
    visibility: hidden;
}

.mobile-navigation-item {
    font-size: 3em;
}

.shown-mobile-navigation-item {
    font-size: 3em;
    transform: translateX(50vw);
    animation: show-navigation-item 0.5s;
}

.hidden-mobile-navigation-item {
    font-size: 3em;
    animation: hide-navigation-item 0.5s;
}

@keyframes show-navigation {
    0% {
        height: 0;
        opacity: 0;
        top: 1em;
    }

    100% {
        height: 100vh;
        opacity: 1;
        top: 0;
    }
}

@keyframes hide-navigation {
    0% {
        height: 100vh;
        opacity: 1;
        top: 0;
    }

    100% {
        height: 0;
        opacity: 0;
        top: 1em;
    }
}

@keyframes show-navigation-item {
    0% {
        opacity: 0;
        transform: translateX(0vw);
    }

    100% {
        opacity: 1;
        transform: translateX(50vw);
    }
}

@keyframes hide-navigation-item {
    0% {
        opacity: 1;
        transform: translateX(50vw);
    }

    100% {
        opacity: 0;
        transform: translateX(0vw);
    }
}

@keyframes active-section-overlay {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

@keyframes inactive-section-overlay {
    0% {
        background-color: rgba(255, 255, 255, 1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}