@media only screen and (max-width: 768px) {

    .header {
        height: 10vh;
    }

    .header-items {
        justify-content: flex-start;
    }

    .header .header-items .logo-container {
        width: unset;
    }

    .header .header-items .group {
        display: none;
    }

    .hamburger {
        height: 100%;
        width: 12vw;
        padding: 3vh 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hamburger-line {
        height: 0.1vh;
        width: 100%;
        background-color: black;
        border: 0.1vh solid black;
        border-radius: 5em;
    }

    .mobile-navigation {
        width: 100vw;
        top: 1em;
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--elevated-pane-bg-color);
    }

    .shown-mobile-navigation {
        height: 100vh;
        top: 0;
        animation: show-navigation 0.5s;
    }

    .hidden-mobile-navigation {
        height: 0;
        top: 1em;
        animation: hide-navigation 0.5s;
    }

    .mobile-navigation-container {
        left: -40vw;
        height: 40vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mobile-navigation-item {
        font-size: 3em;
    }

    .shown-mobile-navigation-item {
        font-size: 3em;
        transform: translateX(50vw);
        animation: show-navigation-item 0.5s;
    }

    .hidden-mobile-navigation-item {
        font-size: 3em;
        animation: hide-navigation-item 0.5s;
    }

    .scroller-overlay {
        top: calc(50% - 2em - 0.8em);
        right: -2em;
        width: 2em;
        padding-right: 0.6em;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .shown-scroller-overlay {
        right: 0;
        animation: show-scroller-overlay 0.5s;
    }

    .hidden-scroller-overlay {
        right: -2em;
        animation: hide-scroller-overlay 0.5s;
    }

    .scroller-overlay-item {
        height: 1em;
        width: 1em;
        margin: 0.2em;
        border: 0.15em solid var(--secondary-text-color);
        border-radius: 50%;
        box-sizing: border-box;
        display: inline-block;
    }

    .footer-item {
        border-radius: 3px;
        height: 0.6em;
    }

    .active-section {
        background-color: rgba(255, 255, 255, 1);
        animation: active-section-overlay 0.5s;
    }

    .inactive-section {
        animation: inactive-section-overlay 0.5s;
    }

    .main-page {
        height: 100%;
    }

    .main-page-scroller-max {
        margin-top: 0;
        overflow-y: scroll;
        -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }

    .slide {
        height: 100vh;
        width: 100vw;
        background-color: beige;
        border-bottom: solid black 1px;
    }

    .mobile-footer {
        color: var(--secondary-text-color);
        display: block;
        min-height: 100vh;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: #262626;
        scroll-snap-align: start;
    }

    .desktop-footer {
        display: none;
    }

    .company-info {
        padding-left: 1em;
    }

    .montain-range {
        height: 10em;
        width: 100%;
        background-image: url('../assets/home/mobile/pilatus-skyline.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .page-info {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .copyright {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .copyright p {
        margin-right: 1em;
    }

    .power {
        align-self: flex-end;
    }

    @keyframes show-navigation {
        0% {
            height: 0;
            opacity: 0;
            top: 1em;
        }

        100% {
            height: 100vh;
            opacity: 1;
            top: 0;
        }
    }

    @keyframes hide-navigation {
        0% {
            height: 100vh;
            opacity: 1;
            top: 0;
        }

        100% {
            height: 0;
            opacity: 0;
            top: 1em;
        }
    }

    @keyframes show-navigation-item {
        0% {
            opacity: 0;
            transform: translateX(0vw);
        }

        100% {
            opacity: 1;
            transform: translateX(50vw);
        }
    }

    @keyframes hide-navigation-item {
        0% {
            opacity: 1;
            transform: translateX(50vw);
        }

        100% {
            opacity: 0;
            transform: translateX(0vw);
        }
    }

    @keyframes active-section-overlay {
        0% {
            background-color: rgba(255, 255, 255, 0);
        }

        100% {
            background-color: rgba(255, 255, 255, 1);
        }
    }

    @keyframes inactive-section-overlay {
        0% {
            background-color: rgba(255, 255, 255, 1);
        }

        100% {
            background-color: rgba(255, 255, 255, 0);
        }
    }
}