@font-face {
    font-family: Poppins-Light;
    src: url(../font/Poppins-Light.ttf);
}

*, :after, :before {
    box-sizing: border-box;
}

:root {
    --default-text-color: black;
    --secondary-text-color: white;
    --default-font-family: Poppins-Light;
    --elevated-pane-bg-color: #f0efe0;
    --subordinate-pane-bg-color: rgba(30, 26, 15, 1);
    --subordinate-pane-bg-color-opaque: rgba(30, 26, 15, .8);
    --complimentary-pane-bg-color: #424642;
    /** header */
    --header-enlarged-height: 84px;
    --header-enlarged-top: 16px;
    --header-shrunk-height: 60px;
    --header-shrunk-top: 0;
    --header-animation-duration: .2s;
    --header-logo-enlarged-height: 140%;
    --header-logo-enlarged-padding: .5em;
    --header-logo-shrunk-height: 90%;
    --header-logo-shrunk-padding: 0;
    --header-logo-animation-duration: .6s;
    --header-border-bottom-color: black;
    --header-border-bottom-enlarged-width: 80px;
    --header-border-bottom-enlarged-thicc: 2px;
    --header-border-bottom-animation-duration: .2s;
    /** age check */
    --age-input-border-bottom-enlarged-thicc: 2px;
    --age-input-width: 50px;
    /** main page */
    --main-page-width: 80%;
    --main-page-max-width: 1500px;
    /** footer */
    --footer-height: 130px;
    /** shadows */
    --full-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --upper-shadow: 0px -9px 9px -3px rgba(0, 0, 0, 0.28);
    --bottom-shadow: 0px 9px 9px -3px rgba(0, 0, 0, 0.28);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--default-font-family);
}

.main-page {
    background-color: var(--subordinate-pane-bg-color);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: var(--footer-height);
}

.main-page-scroller {
    width: var(--main-page-width);
    max-width: var(--main-page-max-width);
    margin-top: calc(var(--header-enlarged-height) + var(--header-enlarged-top));
    display: flex;
    flex-direction: column;
    box-shadow: var(--full-shadow);
}

.main-page-scroller-max {
    width: 100%;
    margin-top: calc(var(--header-enlarged-height) + var(--header-enlarged-top));
    display: flex;
    flex-direction: column;
    box-shadow: var(--full-shadow);
}

img {
    height: 100%;
    max-width: 100%;
}

.bottom-shadow {
    box-shadow: var(--bottom-shadow);
}

.upper-shadow {
    box-shadow: var(--upper-shadow);
}

.parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.parallax {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    /* BG behaviour */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-high {
    height: 700px;
}

.parallax-low {
    height: 600px;
}

.button-link {
    /* mix-blend-mode: difference; */
    padding: .75em;
    border-radius: 2px;
    border: solid 2px var(--secondary-text-color);
    background-color: transparent;
    text-decoration: none;
    color: var(--secondary-text-color);
    height: 3em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link:hover {
    border: solid 3px var(--secondary-text-color);
}

.button-link-hc {
    border-radius: 2px;
    border: solid 3px var(--default-text-color);
    color: var(--default-text-color);
    text-decoration: none;
    height: 4em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    position: relative;
    transition: color .25s ease-in-out, border-color .25s ease-in-out;
    z-index: 1;
}

.button-link-hc:hover {
    color: var(--secondary-text-color);
}

.button-link-hc::before {
    z-index: -1;
    content: " ";
    position: absolute;
    background-color: var(--default-text-color);
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;
    transition: right .15s ease-in-out;
}

.button-link-hc:hover::before {
    right: 0;
}

.hidden-side-drawer {
    display: none;
}

@keyframes border-enlarged-shrunk {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes border-shrunk-enlarged {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
