*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --default-text-color: black;
    --default-font-family: Arial, sans-serif;
    --elevated-pane-bg-color:  	#faf0e6;
    --subordinate-pane-bg-color: #fff0db;

    /** header */
    --header-enlarged-height: 84px;
    --header-enlarged-top: 16px;
    --header-shrunk-height: 60px;
    --header-shrunk-top: 0;
    --header-animation-duration: .2s;
    --header-logo-enlarged-height: 140%;
    --header-logo-enlarged-padding: .5em;
    --header-logo-shrunk-height: 90%;
    --header-logo-shrunk-padding: 0;
    --header-logo-animation-duration: .6s;
    --header-border-bottom-color: black;
    --header-border-bottom-enlarged-width: 80px;
    --header-border-bottom-enlarged-thicc: 2px;
    --header-border-bottom-animation-duration: .2s;

    /** main page */
    --main-page-width: 80%;
    --main-page-max-width: 1500px;

    /** shadows */
    --full-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --upper-shadow: 0px -9px 9px -3px rgba(0,0,0,0.28);
    --bottom-shadow: 0px 9px 9px -3px rgba(0,0,0,0.28);
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--default-font-family);
}

.parallax__container {
    clip: rect(0, auto, auto, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.parallax {
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;

    /* BG behaviour */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-c {
    height: 60em;
}